AUDIOS PARA USAR NO CTV/
CRIATIVO FEITO/
DADOS DE QUEM ESTOU MODELANDO/
ENTREGAVEIS DO CARA/
MATERIAL DEPOIS DE VALIDADO/
ODERBUMPS CAPA/
PRINCESA BELA/
TECNICA/
VIDEOS PÁRA USAR NA CRIAÇÃO/
aula em video melissa/

# Local Netlify folder
.netlify

# Node.js
node_modules/
